@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Aeonik-Regular';
  src: url('./fonts/Aeonik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  
  font-family: 'Aeonik-Regular';
  src: url('./fonts/Aeonik-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;

  font-family: 'Aeonik-Regular';
  src: url('./fonts/Aeonik-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  position: relative;
  z-index: 10;
  font-weight: 600;
  font-size: 2em;
  width: 90vw;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 5rem;
  padding-right: 5rem;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
}

.container > span {
  cursor: none;
  margin-right: 0.1em;
}

.item {
  opacity: 0.2;
  font-family: 'Aeonik-Regular', sans-serif;
}


span.active,
.item:hover {
  text-decoration-skip-ink: none;
  text-underline-offset: 0.14em;
  text-decoration: underline;
}


.containerMobile {
  margin-top: -2em;
  position: relative;
  z-index: 10;
  font-weight: 600;
  font-size: 1.1em;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 0);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.buttondisabled {
visibility: hidden;
}


.buttonenabled{
  background-color: black;
  color: white;
}
